@import "tailwindcss";
@import "fonts.css";

@theme {
    --font-heading: "GT America Expanded Black", serif;
    --font-body: "GT America Extended Light", serif;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-heading), serif;
    }

    p {
        font-family: var(--font-body), serif;
    }
}

html,
body {
  @apply bg-white dark:bg-black;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}